body {
    background: #000;
    color: #EEF;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    text-align: center;
}

button {
    background-color: #00000000;
}

input[type="text"] {
    font-size: 16px;
    border-radius: 3px;
    /*ボックス角の丸み*/
    border: 2px solid #ddd;
    /*枠線*/
    margin: 8px;
}

@media (max-width: 650px) {

    #box,
    #rightbox {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 650px) and (max-width: 1000px) {
    #box {
        grid-template-columns: 1fr 1fr;
    }

    #rightbox {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1000px) {
    #box {
        grid-template-columns: 1fr 2fr;
    }

    #rightbox {
        grid-template-columns: 1fr 1fr;
    }
}

#box,
#rightbox {
    display: grid;
    justify-content: center;
    align-items: start;
}

#leftbox,
.die,
#bigdie,
#controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.die,
#bigdie,
#controller {
    flex-direction: row;
}

#leftbox {
    flex-direction: column;
    top: 10px;
    position: sticky;
}

.die,
#bigdie,
#controller {
    height: 60px;
    width: 270px;
    border: solid 1px #AAE;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
}

#bigdie {
    background: linear-gradient(-135deg, #c05f5f, #8037b4);
}

.die *,
#bigdie *,
#controller * {
    margin: 10px;
    width: 60px;
    padding: 1px;
    border: 1px;
    text-align: center;
    user-select: none;
}

#plus_img,
#minus_img,
#die_img,
.roll {
    width: 40px;
}