body{
    background: #000;
    color: #EEF;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    text-align: center;
}

button {
    background-color: #00000000;
}

input[type="text"] {
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    margin: 8px;
}

#box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
}

#leftbox,
#rightbox,
.die,
#bigdie,
#controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box,
.die,
#bigdie,
#controller {
    flex-direction: row;
}

@media (width < 650px) {
    #box {
        grid-template-columns: 1fr;
        align-items: center;
    }
}

#leftbox,
#rightbox {
    flex-direction: column;
}

#leftbox{
    flex: 1;
    top: 10px;
    position: sticky;
}

#rightbox {
    flex: 2;
}

.die,
#bigdie,
#controller {
    height: 60px;
    width: 270px;
    border: solid 1px #AAE;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
}

#bigdie {
    background: linear-gradient(-135deg, #c05f5f, #8037b4);;
}

.die * ,
#bigdie *,
#controller * {
    margin: 10px; 
    width: 60px;
    padding: 1px;
    border: 1px;
    text-align: center;
    user-select: none;
}

#plus_img,#minus_img,#die_img,.roll {
    width: 40px;
}